
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #4b1d1d;
    text-decoration: none;
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 80px;

}
body {
  min-height: vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}


.contact {
  width: 100%;
  max-width: 1100px;


  padding: 40px;
}


.contact h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #222;
}


.contact .linea {
  width: 60px;
  height: 3px;
  background: #e6a400;
  margin: 0 auto 30px;
  border-radius: 2px;
}


.contact-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}


.contact-info {
  flex: 1;
  min-width: 280px;
}

.contact-info p {
  margin: 12px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #222;
}

.contact-info i {
  color: #5a1f1f;
  font-size: 18px;
}


form {
  flex: 1;
  min-width: 350px;
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  width: 500px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
  position: relative;
}

form textarea {
  resize: none;
  height: 120px;
}

form button {
  width: 300px;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #4b1d1d;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #2d1010;
}
